form{
    border: 1px solid black;
    margin-left: 25%;
    width: 40%;
    height:50% ;
}
label{
    margin-top:25px;
    margin-left: 20px;
}
input{
    margin-top:25px;
    margin-left: 20px;
}
button{
    width: 25%;
    height:25%;
margin-bottom: 25px;
margin-top:25px;
margin-left:40%;  
}